*{
    font-family: Arial;
}

h1{
    font-size: 25px;
    color: crimson;

}

ol{
    list-style-type: lower-roman;
    list-style-type: upper-latin;
    list-style-type: upper-roman;
}

ul li{
    margin: 10px;
    /* list posisi */
    list-style-position: inside;
    /* list-style-position: outside; */
}

